<!DOCTYPE html>
<html>
<head>
    <title>Submitted Data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Year</th>
                <th>Interested in GCC</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.rollno }}</td>
                <td>{{ item.year }}</td>
                <td>{{ item.interestedinGCC }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
