<!DOCTYPE html>
<html>
<head>
    <title>Student Information Form</title>
</head>
<body>
    <h1>Student Information Form</h1>
    <form method="POST" action="/submit">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="roll">Roll No:</label>
<input type="text" id="roll" name="rollno" required><br><br>


        <label for="year">Year:</label>
        <select id="year" name="year" required>
            <option value="">-- Select Year --</option>
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
            <option value="4">4th Year</option>
        </select><br><br>

        <input type="radio" id="yes" name="interestedinGCC" value="yes" required>
<label for="yes">Yes</label><br>
<input type="radio" id="no" name="interestedinGCC" value="no" required>
<label for="no">No</label><br><br>

        <input type="submit" value="Submit">
        <a href="/chart">View Pie Chart</a>
    </form>
</body>
</html>
